:root{
    --main-color:#FF9800;
}
*{
    box-sizing:border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* Start Setting box */
.settings-box{
    position: fixed;
    top: 0;
    left: -200px;
    min-height: 100vh;
    width: 200px;
    z-index: 1000;
    background-color: #fff;
    transition: .3s;
    box-shadow: 0px 4px 14px -2px;

}

.settings-box.open{
    left: 0;
}
.settings-box .toggle-settings{
    position: absolute;
    top: 100px;
    right: -30px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

.settings-box .toggle-settings .fa-gear{
    padding: 8px 0;
    width: 30px;
}

.settings-box .settings-container .option-box{
    padding: 10px;
    text-align: center;
    background-color: #EEE;
    margin: 10px;
}
.settings-box  .option-box h4{
    margin: 0;
    color: #666;
    font-size: 14px;
}

.settings-box  .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}

.settings-box  .option-box .colors-list li{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid #eee;
    cursor: pointer;
    display: inline-block;
}

.settings-box  .option-box .colors-list li.active{
    border-color: #fff;
}

.settings-box  .option-box .colors-list li:first-child{
    background-color:#FF9800 ;
}

.settings-box  .option-box .colors-list li:nth-child(2){
    background-color: #E91E63;
}

.settings-box  .option-box .colors-list li:nth-child(3){
    background-color: #009688;
}

.settings-box  .option-box .colors-list li:nth-child(4){
    background-color:#03A9F4 ;
}

.settings-box  .option-box .colors-list li:nth-child(5){
    background-color:#4CAF50 ;
}

.settings-box  .option-box .yes , 
.settings-box  .option-box .no{
    width: 50px;
    background-color: var(--main-color);
    color: white;
    margin-top: 10px;
    padding: 5px 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
}

.settings-box  .option-box span.active{
    opacity: 1;
}

.settings-box .reset-options{
    background-color: #f44336;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
/* End Setting box */

/* Start Nav Bullets */
.nav-bullets{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}

.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.nav-bullets .bullet:hover .tooltip{
    display: block;
}

.nav-bullets .bullet .tooltip{
    position: absolute;
    right: 32px;
    top: -10px;
    width: 120px;
    background-color: var(--main-color);
    color: #fff;
    padding: 8px 10px;
    text-align: center;
    font-size: 16px;
    cursor: default;
    pointer-events: none;
    display: none;
}

.nav-bullets .bullet .tooltip:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    top:50%;
    transform: translateY(-50%);
    right: -20px;
    border-color: transparent transparent transparent var(--main-color);

}
/* End Nav Bullets */

/* Start Landing page */
.landing-page{
    background-image: url(../imgs/01.jpg);
    min-height: 100vh;
    background-size: cover;
    position: relative;
}

.landing-page .overlay{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

}
.landing-page .header{
    position: relative;
    z-index:2 ;
    display: flex;
    color: #fff;
    padding: 10px;
}

.landing-page .header .logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
}

.landing-page .container{
    position: relative;
    z-index: 1000;
}

.header .links-contianer{
    width: 100%;
    text-align: right;
}
.landing-page .header .links{
    list-style: none;
    padding-left: 0;
}

.landing-page .header .links li{
    display: inline-block;
    margin-left: 10px;
}
.landing-page .header .links li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.landing-page .header .links li a:hover,
.landing-page .header .links li a.active{
    color: var(--main-color);
}

.landing-page .header .toggle-menu{
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}
.landing-page .header .toggle-menu.menu-active::before{ 
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 10px;
    bottom:-15px;
}


.landing-page .header .toggle-menu:focus{
    outline: none;
}

.landing-page .header .toggle-menu span{
    height: 4px;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.landing-page .introducton-text{
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    z-index: 2;
    width: 95%;
}

.landing-page .introducton-text h1 {
    font-size: 34px;
    margin:0 0 12px;
}
@media(max-width:575px){
    .landing-page .introducton-text h1{
        font-size: 26px;
    }
}

.landing-page .introducton-text h1 span{
    color: var(--main-color);
}

.landing-page .introducton-text p{
    line-height: 1.6;
    margin: 0;
    font-size: 20px;
}

@media(max-width:575px){
    .landing-page .introducton-text h1{
        font-size: 26px;
    }
    .landing-page .introducton-text p{
        font-size: 18px;
    }
}

@media(max-width:991px){
    .landing-page .header .links{
        display: none;
    }

    .landing-page .header .toggle-menu{
        display: inline-block;
    }

    .landing-page .header .links.open{
        background-color: #fff;
        padding: 10px;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        border-radius: 4px;
        text-align: left;
        
        
    }
    .landing-page .header .links.open li{
        display: block;
        margin: 10px;
    }
    .landing-page .header .links.open li a{
        color: var(--main-color);
        text-align: left;
        font-weight: bold;
    }
}

/* End Landing page */

/* Start About Us */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

@media(max-width:767px){
    .about-us {
        display: block;
        text-align: center;
    }
}

.about-us .info-box{
    flex: 1;
    padding: 30px;
}

@media(max-width:767px){
    .about-us .info-box{
        padding: 0px;
    }
}

.about-us .info-box h2{
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 10px;

}

.about-us .info-box p{
    line-height: 1.8;
    color: #767676;
    margin: 0;

}

.about-us .image-box{
    flex: 1; 
    text-align: center;
}

.about-us .image-box img{
    width: 250px;
}

/* End About Us */


/* Srart Skils Setion */
.skills{
 padding-top: 50px;
 padding-bottom: 50px;
 background-color: #eee;
}

.skills h2{
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
}

.skills  .skill-box{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;

}

.skills  .skill-box .skill-name{
    width: 140px;
    text-align: center;
    font-weight: bold;
}

@media(max-width:767px){
    .skills  .skill-box{
        display: block;
    }

    .skills  .skill-box .skill-name{
        width: 100%;
        margin-bottom: 12px;
    }
}
.skills  .skill-box .skill-progress{
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.skills  .skill-box .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--main-color);
    transition: all 0.5s;
}
/* End Skils Setion */

/* Start Gallary Section */
.gallary{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.gallary h2{
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
}

.gallary .images-box{
    text-align: center;
}

.gallary .images-box img{
    width: 200px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
}

.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.popup-box{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #fff;
    z-index: 1001;
    border: 1px solid #ccc;
}

.popup-box h3{
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
    margin: 0 0 20px;
}
.close-button{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-family: Arial, Tahoma;

}

.popup-box img{
    max-width: 100%;
}
/* End Gallary Section */

/* Start Timeline Section */
.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.timeline .timeline-content{
    overflow: hidden;
    position: relative;
}

.timeline .timeline-content::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    top: 0;
    left: 50%;
    margin-left: -1px;
}

.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    position: relative;
    z-index: 2;
    background-color: var(--main-color);
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 2px 5px;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

@media(max-width:767px){
    .timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: 100%;
}
}

.timeline .timeline-content .left{
    float: left;
}

.timeline .timeline-content .right{
    float: right;
}

.timeline .timeline-content .content{
    background-color: #fff;
    padding: 20px;
}

.timeline .timeline-content .content h3{
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
}

.timeline .timeline-content .content p{
    color: #666;
    line-height: 1.6;
    margin: 0;
}

.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{
    content: "";
    width: 14px;
    height: 14px;
    border: 3px solid var(--main-color);
    border-radius:50% ;
    background-color: #fff;
    position: absolute;
    top: 20px;
}

@media(max-width:767px){
    .timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{
    display: none;
}
}


.timeline .timeline-content .left::before{
    right: -35px;
}

.timeline .timeline-content .right::before{
    left: -35px;
}

.clearfix{
    clear: both;
}

.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    top:20px;
}

.timeline .timeline-content .left .content::before{
    right: -20px;
    border-color: transparent transparent transparent #fff;
}

.timeline .timeline-content .right .content::before{
    left: -20px;
    border-color: transparent #fff transparent transparent ;
}

@media(max-width:767px){
    .timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before{
    display: none;
}
}

/* End Timeline Section */

/* Start Features Section */
.features{
    padding-top: 80px;
    padding-bottom: 80px;
}

.features h2{
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 60px;
    text-align: center;
}

.features .feat-box{
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}


@media(max-width:991px){
    .features .feat-box{
        width: calc(100% / 2);
    }
}


@media(max-width:575px){
    .features .feat-box{
        width: 100%;
    }
}

.features .feat-box img{
    width: 96px;
}

.features .feat-box h4{
    font-size: 22px;
    position: relative;
    margin: 15px 0 40px;
}

.features .feat-box h4::before{
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -22px;
}

.features .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}
/* End Features Section */

/*  Start Testimonials Section  */
.testimonials{
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.testimonials h2{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-align: left;
    margin: 0 0 60px;
    position: relative;
    z-index: 2;
}

.testimonials::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    
}

.testimonials::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #333;
}



.testimonials .ts-box{
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 20px;
    width: calc(98% / 3) ;
    float: left;
}

@media(max-width:767px){
    .testimonials .ts-box{
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
    .testimonials h2{
        text-align: center;
    }
}

.testimonials .ts-box:not(:last-of-type){
    margin-right: 1%;
}

.testimonials .ts-box > p{
    margin: 0 0 15px;
    line-height: 1.5;
    font-size: 17px;
    color: #707070;
    font-style: italic;
}

.testimonials .ts-box .person-info{
    overflow: hidden;
}
@media(max-width:991px){
    .testimonials .ts-box .person-info{
        text-align: center;
        overflow: visible;
    }
}

.testimonials .ts-box .person-info img{
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}

@media(max-width:991px){
    .testimonials .ts-box .person-info img{
        float: none;
        margin-right: 0;
    }
}

.testimonials .ts-box .person-info h4{
    margin: 14px 0 10px;
}

.testimonials .ts-box .person-info p{
    color: #707070;
    margin: 0 ;
}

/*  End Testimonials Section  */

/*  Start Contact Us Section  */
.contact{
    min-height: 600px;
    background-image: url(../imgs/contact.png);
    background-size: cover;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.6);
}

.contact .container{
    position: relative;
    z-index: 2;
}
.contact h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}

.contact form{
    max-width: 800px;
    margin: auto;
}
.contact form .left{
    float: left;
    width: 49%;

}
.contact form .right{
    float: right;
    width: 49%;
}
@media(max-width:767px){
    .contact form .left,
    .contact form .right{
        float: none;
        width: 100%;
    }
}

.contact form input:not([type="submit"]),
.contact form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(218, 218, 218, 0.19);
    border: 1px solid  #ccc;
}

.contact form input{
    height: 40px;
}
.contact form textarea{
    height: 150px;
}

.contact form input[type="submit"]{
    width: 100%;
    background-color: var(--main-color);
    border: transparent;
    padding: 10px;
    color: #fff;
    cursor: pointer;

}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus{
    outline: 1px solid var(--main-color);
}

.contact form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: 0.3s;
}

.contact form input:not([type="submit"]):focus::-ms-input-placeholder,
.contact form textarea:focus::-ms-input-placeholder{
    opacity: 0;
    transition: 0.3s;
}


.contact form input:not([type="submit"]):focus::placeholder,
.contact form textarea:focus::placeholder{
    opacity: 0;
    transition: 0.3s;
}



/*  End Contact Us Section  */


/*  End Footer Section  */
.footer{
    padding: 20px;
    background-color: #333;
    color: #eee;
    text-align: center;
}
/*  End Footer Section  */

/*Start Grid System */
@media(min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media(min-width:768px){
    .container{
        max-width: 720px;
    }
}

@media(min-width:992px){
    .container{
        max-width: 960px;
    }
}

@media(min-width:1200px){
    .container{
        max-width: 1140px;
    }
}
/* End Grid System */
